.endAHolder,div#aHider,#endAMerger{
  display:none !important;

}

#healthValueHolder {
  transform: rotateZ(-5deg);
  background: transparent;
}

#healthValue {
  font-size: 60px;
}

#maxHP {
  font-size: 40px;
}

.healthBarSeg {
  margin-right: 5px;
  background: transparent;
}

.hpBSeg {
  box-shadow: none !important;
  background: rgb(255 255 255 / 0.7) !important;
  border-radius: 0px;
}

#healthBar {
  transform: skewX(-15deg) translateY(-30%) translateX(5%) rotateZ(-5deg);
  border-radius: 0px;
}

#hudClassIcon {
  border: 5px black solid;
  box-shadow: 0 0 10px black;
  transform: rotateZ(45deg);
  background: white;
}

#hudClassImg {
  filter: drop-shadow(0 0 10px black);
  transform: rotateZ(-45deg);
}

#igXPBar {
  width: 10%;
  height: 1%;
  left: 7%;
  bottom: 7%;
  transform: rotateZ(-5deg);
  background: white !important;
  opacity: 1 !important;
  background-color: white;
}

#igXPBarProg {
  background: hsl(119deg 100% 50%) !important;
}

#bottomLeftHolder {
  margin-left: 3%;
  margin-bottom: 3%;
}

#ammoDisplay {
  background: transparent;
  transform: rotateZ(5deg);
  position: fixed;
  right: 5%;
  bottom: 10%;
}

#ammoVal {
  font-size: 60px;
}

#ammoMax {
  font-size: 40px;
}

#ammoIcon {
  display: none !important;
}

#weapDisplay {
  position: fixed;
}

.weapIcon {
  transform: rotateZ(5deg);
}

.weapKey {
  display: none !important;
}

.weapIcon[style="opacity: 1; margin-right: 25px;"], .weapIcon[style="opacity: 1;"], .weapIcon[style="opacity:1"] {
  right: 3%;
  bottom: 5%;
  position: fixed;
  border-radius: 10px;
  padding-right: 1%;
  border-right: 5px solid var(--accent) !important;
  transition: .1s;
  margin-right: 0 !important;
}

.weapIcon[style="opacity: 0.7;"], .weapIcon[style="opacity:0.7;margin-right:25px"], .weapIcon[style="opacity: 0.7; margin-right: 25px;"] {
  right: 3%;
  bottom: 5%;
  position: fixed;
  border-radius: 20px;
  padding-right: 1%;
  border-right: 5px solid var(--accent) !important;
  opacity: 0 !important;
  margin-right: 0px !important;
  transition: .1s;
}

.endAHolder {
  display: none !important;
}

@font-face {
    font-family: gamefont;
    src: url(https://raw.githubusercontent.com/Yadub/BoulderBox/master/fonts/Fontfabric---Mont-Heavy.otf);
}

#voiceDisplay {
    display: none!important;
}

#curGameInfo:after {
    font-size: 23px !important;
    color: #6fff6e;
    content: "Z3BU x AMZN";
}

#curGameInfo {
    font-size: 0;
}

#newsHolder,
#faceItIconM,
#aHolder, 
.endAHolder, 
#aMerger,
.imageButton,.krSocial,
#editorBtnM,
#onetrust-consent-sdk,
#policeButton,
#timerIcon,
#voiceDisplay,
.purejscarousel-slide,
::-webkit-scrollbar,
.terms,
#termsInfo,
#mainLogo, #seasonLabel, #rankedSoonTm {
    display: none !important;
}

#tlInfHold {
    display: none
}
